SailingPerformance/Tracker/Service References/ServiceReference/SessionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Services.SessionService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Services.SessionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65025/Services/SessionService/SessionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:65025/Services/SessionService/SessionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:complexType name="AddSessionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdBoat" type="ser:guid" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StopDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddSessionRequest" nillable="true" type="tns:AddSessionRequest" />
  <xs:complexType name="AddSessionResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" base="q1:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdSession" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddSessionResponse" nillable="true" type="tns:AddSessionResponse" />
</xs:schema>