SailingPerformance/Tracker/Service References/BoatService/BoatService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65025/Services/BoatService/BoatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Services.BoatService" />
  <xs:import schemaLocation="http://localhost:65025/Services/BoatService/BoatService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="AddBoatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Services.BoatService" minOccurs="0" name="boatRequest" nillable="true" type="q1:BoatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBoatResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="AddBoatResponseResult" nillable="true" type="q2:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>