SailingPerformance/Tracker/Service References/BoatService/BoatService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Services.BoatService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Services.BoatService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BoatRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoatRequest" nillable="true" type="tns:BoatRequest" />
</xs:schema>