SailingPerformance/Tracker/Service References/BoatService/BoatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BoatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65025/Services/BoatService/BoatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65025/Services/BoatService/BoatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65025/Services/BoatService/BoatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Services.BoatService" />
      <xsd:import schemaLocation="http://localhost:65025/Services/BoatService/BoatService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBoatService_AddBoat_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBoat" />
  </wsdl:message>
  <wsdl:message name="IBoatService_AddBoat_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBoatResponse" />
  </wsdl:message>
  <wsdl:message name="IBoatService_UpdateBoat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoat" />
  </wsdl:message>
  <wsdl:message name="IBoatService_UpdateBoat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBoatResponse" />
  </wsdl:message>
  <wsdl:message name="IBoatService_DeleteBoat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBoat" />
  </wsdl:message>
  <wsdl:message name="IBoatService_DeleteBoat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBoatResponse" />
  </wsdl:message>
  <wsdl:message name="IBoatService_GetBoatId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBoatId" />
  </wsdl:message>
  <wsdl:message name="IBoatService_GetBoatId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBoatIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IBoatService">
    <wsdl:operation name="AddBoat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoatService/AddBoat" message="tns:IBoatService_AddBoat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoatService/AddBoatResponse" message="tns:IBoatService_AddBoat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBoat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoatService/UpdateBoat" message="tns:IBoatService_UpdateBoat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoatService/UpdateBoatResponse" message="tns:IBoatService_UpdateBoat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBoat">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoatService/DeleteBoat" message="tns:IBoatService_DeleteBoat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoatService/DeleteBoatResponse" message="tns:IBoatService_DeleteBoat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBoatId">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoatService/GetBoatId" message="tns:IBoatService_GetBoatId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoatService/GetBoatIdResponse" message="tns:IBoatService_GetBoatId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBoatService" type="tns:IBoatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBoat">
      <soap:operation soapAction="http://tempuri.org/IBoatService/AddBoat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBoat">
      <soap:operation soapAction="http://tempuri.org/IBoatService/UpdateBoat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBoat">
      <soap:operation soapAction="http://tempuri.org/IBoatService/DeleteBoat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBoatId">
      <soap:operation soapAction="http://tempuri.org/IBoatService/GetBoatId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BoatService">
    <wsdl:port name="BasicHttpBinding_IBoatService" binding="tns:BasicHttpBinding_IBoatService">
      <soap:address location="http://localhost:65025/Services/BoatService/BoatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>