SailingPerformance/ClientService/Service References/GpsServiceReference/GpsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65025/Services/GpsService/GpsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Requests" />
  <xs:import schemaLocation="http://localhost:65025/Services/GpsService/GpsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Responses" />
  <xs:element name="GetGpsDataByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Requests" minOccurs="0" name="request" nillable="true" type="q1:GetGpsByDateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGpsDataByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Responses" minOccurs="0" name="GetGpsDataByDateResult" nillable="true" type="q2:GetGpsByDateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGpsDataByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Requests" minOccurs="0" name="request" nillable="true" type="q3:GetAllGpsByDateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGpsDataByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Responses" minOccurs="0" name="GetAllGpsDataByDateResult" nillable="true" type="q4:GetAllGpsByDateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>