SailingPerformance/ClientService/Service References/GpsServiceReference/GpsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65025/Services/GpsService/GpsService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:65025/Services/GpsService/GpsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:complexType name="GetGpsByDateResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" base="q1:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DirectionWind" nillable="true" type="q2:ArrayOfstring" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Latitude" nillable="true" type="q3:ArrayOfstring" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Longitude" nillable="true" type="q4:ArrayOfstring" />
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StrengthWind" nillable="true" type="q5:ArrayOfstring" />
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Time" nillable="true" type="q6:ArrayOfdateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetGpsByDateResponse" nillable="true" type="tns:GetGpsByDateResponse" />
  <xs:complexType name="GetAllGpsByDateResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService" base="q7:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DirectionWind" nillable="true" type="q8:ArrayOfstring" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Latitude" nillable="true" type="q9:ArrayOfstring" />
          <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Longitude" nillable="true" type="q10:ArrayOfstring" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="StrengthWind" nillable="true" type="q11:ArrayOfstring" />
          <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Time" nillable="true" type="q12:ArrayOfdateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllGpsByDateResponse" nillable="true" type="tns:GetAllGpsByDateResponse" />
</xs:schema>