SailingPerformance/ClientService/Service References/GpsServiceReference/GpsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Services.GpsService.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetGpsByDateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGpsByDateRequest" nillable="true" type="tns:GetGpsByDateRequest" />
  <xs:complexType name="GetAllGpsByDateRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTo" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllGpsByDateRequest" nillable="true" type="tns:GetAllGpsByDateRequest" />
</xs:schema>